/.idea/
/logs/server.log
/logs/server.log**
/logs/client.log
/**.db3
/test**
/clientapp/**.db3
/serverapp/**.db3
/venv/
/messenger_client/client_logs/client.log
/messenger_server/server_logs/server.log
/messenger_server/**.db3
/messenger_client/**.db3
/messenger_client/.idea/
